In [1]:
import requests
from bs4 import BeautifulSoup
url = 'https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
movie_titles = soup.find_all('h3', class_='lister-item-header')
for title in movie_titles:
    print(title.text.strip())

1.
The Dark Knight
(2008)
2.
The Lord of the Rings: The Return of the King
(2003)
3.
Spider-Man: Across the Spider-Verse
(2023)
4.
Inception
(2010)
5.
The Lord of the Rings: The Fellowship of the Ring
(2001)
6.
The Lord of the Rings: The Two Towers
(2002)
7.
The Matrix
(1999)
8.
Star Wars: Episode V - The Empire Strikes Back
(1980)
9.
Soorarai Pottru
(2020)
10.
Terminator 2: Judgment Day
(1991)
11.
Star Wars
(1977)
12.
Shichinin no samurai
(1954)
13.
Seppuku
(1962)
14.
Sita Ramam
(2022)
15.
Gladiator
(2000)
16.
Léon
(1994)
17.
Raiders of the Lost Ark
(1981)
18.
Spider-Man: Into the Spider-Verse
(2018)
19.
Avengers: Endgame
(2019)
20.
Aliens
(1986)
21.
The Dark Knight Rises
(2012)
22.
Avengers: Infinity War
(2018)
23.
Oldeuboi
(2003)
24.
Kaithi
(2019)
25.
Asuran
(2019)
26.
Top Gun: Maverick
(2022)
27.
Heat
(1995)
28.
Star Wars: Episode VI - Return of the Jedi
(1983)
29.
Mononoke-hime
(1997)
30.
North by Northwest
(1959)
31.
Dangal
(2016)
32.
Kantara
(2022)
33.
K.G.F: Chapter 2
(2022)
34.
Vikram
(2022)
35.
Shershaah
(2021)
36.
Ratsasan
(2018)
37.
Guardians of the Galaxy Vol. 3
(2023)
38.
Indiana Jones and the Last Crusade
(1989)
39.
Spider-Man: No Way Home
(2021)
40.
Jurassic Park
(1993)
41.
Batman Begins
(2005)
42.
1917
(2019)
43.
Kill Bill: Vol. 1
(2003)
44.
Die Hard
(1988)
45.
V for Vendetta
(2005)
46.
Kimetsu no Yaiba: Mugen Ressha-Hen
(2020)
47.
Ran
(1985)
48.
Baahubali 2: The Conclusion
(2017)
49.
Gangs of Wasseypur
(2012)
50.
Yôjinbô
(1961)

In [4]:
import requests
from bs4 import BeautifulSoup
import csv

# Define the URL
url = 'https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1'

# Send a GET request and retrieve the HTML content
response = requests.get(url)

# Create a BeautifulSoup object to parse the HTML
soup = BeautifulSoup(response.content, 'html.parser')

# Extract the movie data
movies = soup.find_all('div', class_='lister-item')

# First CSV file: movie_details.csv
csv_file_1 = 'movie_details.csv'
csv_headers_1 = ['Sno', 'Movie Name', 'Director1', 'Director2', 'Duration', 'Year', 'Ratings', 'Metascore']

# Second CSV file: movie_info.csv
csv_file_2 = 'movie_info.csv'
csv_headers_2 = ['Movie Name', 'Star1', 'Star2', 'Star3', 'Star4', 'Votes', 'Genre1', 'Genre2', 'Genre3', 'Gross Collection', 'Popularity', 'Certification']

# Open the CSV files and write the headers
with open(csv_file_1, 'w', newline='', encoding='utf-8') as f1, open(csv_file_2, 'w', newline='', encoding='utf-8') as f2:
    writer1 = csv.writer(f1)
    writer1.writerow(csv_headers_1)

    writer2 = csv.writer(f2)
    writer2.writerow(csv_headers_2)

    # Extract and write the movie data to the CSV files
    for movie in movies:
        # Extract details for movie_details.csv
        sno = movie.find('span', class_='lister-item-index').text.strip('.')
        movie_name = movie.h3.a.text.strip()
        directors = movie.find_all('p', class_='text-muted')[1].find_all('a')
        director1 = directors[0].text.strip() if len(directors) >= 1 else ''
        director2 = directors[1].text.strip() if len(directors) >= 2 else ''
        duration = movie.find('span', class_='runtime').text.strip()
        year = movie.find('span', class_='lister-item-year').text.strip('()')
        ratings = movie.find('strong').text.strip()
        metascore = movie.find('span', class_='metascore').text.strip() if movie.find('span', class_='metascore') else ''

        writer1.writerow([sno, movie_name, director1, director2, duration, year, ratings, metascore])

        # Extract details for movie_info.csv
        stars = movie.find_all('p')[2].find_all('a')
        star1 = stars[0].text.strip() if len(stars) >= 1 else ''
        star2 = stars[1].text.strip() if len(stars) >= 2 else ''
        star3 = stars[2].text.strip() if len(stars) >= 3 else ''
        star4 = stars[3].text.strip() if len(stars) >= 4 else ''
        votes = movie.find('p', class_='sort-num_votes-visible').find_all('span')[-1].text.strip().replace(',', '')
        genres = movie.find('span', class_='genre').text.strip().split(',')
        genre1 = genres[0].strip() if len(genres) >= 1 else ''
        genre2 = genres[1].strip() if len(genres) >= 2 else ''
        genre3 = genres[2].strip() if len(genres) >= 3 else ''
        try:
            gross_collection = movie.find('p', class_='sort-num_gross_votes-visible').find_all('span')[-1].text.strip().replace(',', '')
        except AttributeError:
            gross_collection = ''  # Set empty string if gross collection is not available
        try:
            popularity = movie.find('div', class_='inline-block ratings-imdb-rating').strong['title'].split()[0]
        except (AttributeError, KeyError):
            popularity = ''  # Set empty string if popularity is not available
        certification = movie.find('span', class_='certificate').text.strip() if movie.find('span', class_='certificate') else ''

        writer2.writerow([movie_name, star1, star2, star3, star4, votes, genre1, genre2, genre3, gross_collection, popularity, certification])

# Print a success message
print("Data has been successfully stored in CSV files!")

Data has been successfully stored in CSV files!

Phase-2

Create the tables and columns in SQLite

In [1]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Create movie_details table
cursor.execute('''CREATE TABLE movie_details (
                    Sno INTEGER,
                    MovieName TEXT,
                    DirectorName TEXT,
                    Duration TEXT,
                    Genre TEXT,
                    Ratings REAL
                )''')

# Create movie_info table
cursor.execute('''CREATE TABLE movie_info (
                    MovieName TEXT,
                    Stars TEXT,
                    Votes INTEGER,
                    Genre TEXT,
                    GrossCollection TEXT,
                    Popularity REAL,
                    Certification TEXT
                )''')

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Tables created successfully!")

OperationalError: table movie_details already exists

In [2]:
import sqlite3
import csv

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Create movie_details table
cursor.execute('''CREATE TABLE IF NOT EXISTS movie_details (
                    Sno INTEGER,
                    MovieName TEXT,
                    DirectorName TEXT,
                    Duration TEXT,
                    Year TEXT,
                    Ratings REAL,
                    Metascore TEXT
                )''')

# Create movie_info table
cursor.execute('''CREATE TABLE IF NOT EXISTS movie_info (
                    MovieName TEXT,
                    Stars TEXT,
                    Votes INTEGER,
                    Genre1 TEXT,
                    Genre2 TEXT,
                    Genre3 TEXT,
                    GrossCollection TEXT,
                    Popularity TEXT,
                    Certification TEXT
                )''')

# Import data from movie_details.csv
with open('movie_details.csv', 'r', newline='', encoding='utf-8') as f:
    csv_reader = csv.reader(f)
    next(csv_reader)  # Skip header row
    cursor.executemany("INSERT INTO movie_details VALUES (?, ?, ?, ?, ?, ?,?,?)", csv_reader)

# Import data from movie_info.csv
with open('movie_info.csv', 'r', newline='', encoding='utf-8') as f:
    csv_reader = csv.reader(f)
    next(csv_reader)  # Skip header row
    cursor.executemany("INSERT INTO movie_info VALUES (?, ?, ?, ?, ?, ?, ?, ?)", csv_reader)

# Commit the changes and close the connection
conn.commit()
conn.close()

print("Data imported into SQLite tables successfully!")

OperationalError: table movie_details has 6 columns but 8 values were supplied

Table 1: movie_details

In [3]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT * FROM movie_details WHERE DirectorName IN ('Christopher', 'Matt Reeves')")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

In [4]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT * FROM movie_details WHERE Duration BETWEEN '140' AND '190'")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

In [50]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT * FROM movie_details WHERE Ratings > 7 ORDER BY Ratings ASC")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

In [51]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT MovieName FROM movie_details ORDER BY MovieName DESC")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

In [52]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT MovieName FROM movie_details WHERE MovieName LIKE 'P%' AND Ratings > 7")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

In [54]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT * FROM movie_info WHERE Votes = (SELECT MAX(Votes) FROM movie_info)")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

In [67]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT 'Movie Name' FROM movie_info ORDER BY CAST(REPLACE(GrossCollection, ',', '') AS INTEGER) DESC")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

Table 2: movie_info  movie names with star Arnold Schwarzenegger in ascending order

In [68]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT 'Movie Name', GrossCollection FROM movie_info WHERE Stars LIKE '%Arnold%'")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

In [69]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT * FROM movie_info WHERE Genre LIKE '%comedy%' AND Genre LIKE '%action%'")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

Subqueries:

In [74]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT * FROM movie_details JOIN movie_info ON movie_details.MovieName = movie_info.Movie Name")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

In [76]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT movie_details.MovieName, movie_details.DirectorName, movie_details.Ratings, movie_info.GrossCollection FROM movie_details JOIN movie_info ON movie_details.MovieName = movie_info.MovieName WHERE movie_details.Genre LIKE '%action%'")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

In [77]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT * FROM movie_details JOIN movie_info ON movie_details.MovieName = movie_info.'MovieName'WHERE movie_info.GrossCollection = (SELECT MAX(GrossCollection) FROM movie_info)")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

In [78]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT * FROM movie_details JOIN movie_info ON movie_details.MovieName = movie_info.'MovieName'WHERE movie_details.Ratings = (SELECT MAX(Ratings) FROM movie_details)")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

In [79]:

import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Execute the SQL SELECT statement
cursor.execute("SELECT *FROM movie_details JOIN movie_info ON movie_details.MovieName = movie_info.'MovieName'WHERE movie_info.GrossCollection = (SELECT MIN(GrossCollection) FROM movie_info)AND movie_details.Ratings = (SELECT MIN(Ratings) FROM movie_details)")

# Fetch all rows from the result
rows = cursor.fetchall()

# Process and print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close();

In [83]:
pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (from pandasql) (1.4.4)
Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (from pandasql) (1.4.39)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26768 sha256=2fe875130e62cb400bf503b53e142ce13c21b4a430954b3f3b42a1fd7461c792
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\63\e8\ec\75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
Note: you may need to restart the kernel to use updated packages.

In [118]:
import pandas as pd
from pandasql import sqldf

# Load the CSV data into pandas dataframes
df_movie_details = pd.read_csv('movie_details.csv')
df_movie_info = pd.read_csv('movie_info.csv')

print(df_movie_details)
print (df_movie_info)

print(df_movie_details.columns)
print(df_movie_info.columns)

    Sno                                         Movie Name  \
0     1                                    The Dark Knight
1     2      The Lord of the Rings: The Return of the King
2     3                Spider-Man: Across the Spider-Verse
3     4                                          Inception
4     5  The Lord of the Rings: The Fellowship of the Ring
5     6              The Lord of the Rings: The Two Towers
6     7                                         The Matrix
7     8     Star Wars: Episode V - The Empire Strikes Back
8     9                                    Soorarai Pottru
9    10                         Terminator 2: Judgment Day
10   11                                          Star Wars
11   12                               Shichinin no samurai
12   13                                            Seppuku
13   14                                         Sita Ramam
14   15                                          Gladiator
15   16                                               Léon
16   17                            Raiders of the Lost Ark
17   18                  Spider-Man: Into the Spider-Verse
18   19                                  Avengers: Endgame
19   20                                             Aliens
20   21                              The Dark Knight Rises
21   22                             Avengers: Infinity War
22   23                                           Oldeuboi
23   24                                             Kaithi
24   25                                             Asuran
25   26                                  Top Gun: Maverick
26   27                                               Heat
27   28         Star Wars: Episode VI - Return of the Jedi
28   29                                      Mononoke-hime
29   30                                 North by Northwest
30   31                                             Dangal
31   32                                            Kantara
32   33                                   K.G.F: Chapter 2
33   34                                             Vikram
34   35                                          Shershaah
35   36                                           Ratsasan
36   37                     Guardians of the Galaxy Vol. 3
37   38                 Indiana Jones and the Last Crusade
38   39                            Spider-Man: No Way Home
39   40                                      Jurassic Park
40   41                                      Batman Begins
41   42                                               1917
42   43                                  Kill Bill: Vol. 1
43   44                                           Die Hard
44   45                                     V for Vendetta
45   46                 Kimetsu no Yaiba: Mugen Ressha-Hen
46   47                                                Ran
47   48                        Baahubali 2: The Conclusion
48   49                                 Gangs of Wasseypur
49   50                                            Yôjinbô

                 Director1  Director2 Duration  Year  Ratings  Metascore
0                      NaN        NaN  152 min  2008      9.0       84.0
1                      NaN        NaN  201 min  2003      9.0       94.0
2                      NaN        NaN  140 min  2023      8.9       86.0
3                      NaN        NaN  148 min  2010      8.8       74.0
4                      NaN        NaN  178 min  2001      8.8       92.0
5                      NaN        NaN  179 min  2002      8.8       87.0
6                      NaN        NaN  136 min  1999      8.7       73.0
7                      NaN        NaN  124 min  1980      8.7       82.0
8                      NaN        NaN  153 min  2020      8.7        NaN
9                      NaN        NaN  137 min  1991      8.6       75.0
10                     NaN        NaN  121 min  1977      8.6       90.0
11                     NaN        NaN  207 min  1954      8.6       98.0
12                     NaN        NaN  133 min  1962      8.6       85.0
13                     NaN        NaN  163 min  2022      8.6        NaN
14                     NaN        NaN  155 min  2000      8.5       67.0
15                     NaN        NaN  110 min  1994      8.5       64.0
16                     NaN        NaN  115 min  1981      8.4       85.0
17                     NaN        NaN  117 min  2018      8.4       87.0
18  Avengers: Infinity War        NaN  181 min  2019      8.4       78.0
19                     NaN        NaN  137 min  1986      8.4       84.0
20                     NaN        NaN  164 min  2012      8.4       78.0
21                     NaN        NaN  149 min  2018      8.4       68.0
22                     NaN        NaN  101 min  2003      8.4       77.0
23                     NaN        NaN  145 min  2019      8.4        NaN
24                     NaN        NaN  141 min  2019      8.4        NaN
25                     NaN        NaN  130 min  2022      8.3       78.0
26                     NaN        NaN  170 min  1995      8.3       76.0
27                     NaN        NaN  131 min  1983      8.3       58.0
28                     NaN        NaN  134 min  1997      8.3       76.0
29                     NaN        NaN  136 min  1959      8.3       98.0
30    Mahavir Singh Phogat        NaN  161 min  2016      8.3        NaN
31                     NaN        NaN  148 min  2022      8.3        NaN
32                     NaN        NaN  168 min  2022      8.3        NaN
33                     NaN        NaN  175 min  2022      8.3        NaN
34                     NaN        NaN  135 min  2021      8.3        NaN
35                     NaN        NaN  170 min  2018      8.3        NaN
36                     NaN        NaN  150 min  2023      8.2       64.0
37                     NaN        NaN  127 min  1989      8.2       65.0
38                     NaN        NaN  148 min  2021      8.2       71.0
39                     NaN        NaN  127 min  1993      8.2       68.0
40                     NaN        NaN  140 min  2005      8.2       70.0
41                     NaN        NaN  119 min  2019      8.2       78.0
42                     NaN        NaN  111 min  2003      8.2       69.0
43                     NaN        NaN  132 min  1988      8.2       72.0
44                     NaN        NaN  132 min  2005      8.2       62.0
45                     NaN        NaN  117 min  2020      8.2       72.0
46                     NaN        NaN  162 min  1985      8.2       97.0
47                     NaN        NaN  167 min  2017      8.2        NaN
48                     NaN        NaN  321 min  2012      8.2       89.0
49                     NaN        NaN  110 min  1961      8.2       93.0
                                           Movie Name               Star1  \
0                                     The Dark Knight   Christopher Nolan
1       The Lord of the Rings: The Return of the King       Peter Jackson
2                 Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                           Inception   Christopher Nolan
4   The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
5               The Lord of the Rings: The Two Towers       Peter Jackson
6                                          The Matrix      Lana Wachowski
7      Star Wars: Episode V - The Empire Strikes Back      Irvin Kershner
8                                     Soorarai Pottru       Sudha Kongara
9                          Terminator 2: Judgment Day       James Cameron
10                                          Star Wars        George Lucas
11                               Shichinin no samurai      Akira Kurosawa
12                                            Seppuku    Masaki Kobayashi
13                                         Sita Ramam    Hanu Raghavapudi
14                                          Gladiator        Ridley Scott
15                                               Léon          Luc Besson
16                            Raiders of the Lost Ark    Steven Spielberg
17                  Spider-Man: Into the Spider-Verse     Bob Persichetti
18                                  Avengers: Endgame       Anthony Russo
19                                             Aliens       James Cameron
20                              The Dark Knight Rises   Christopher Nolan
21                             Avengers: Infinity War       Anthony Russo
22                                           Oldeuboi      Park Chan-wook
23                                             Kaithi    Lokesh Kanagaraj
24                                             Asuran         Vetrimaaran
25                                  Top Gun: Maverick     Joseph Kosinski
26                                               Heat        Michael Mann
27         Star Wars: Episode VI - Return of the Jedi    Richard Marquand
28                                      Mononoke-hime      Hayao Miyazaki
29                                 North by Northwest    Alfred Hitchcock
30                                             Dangal       Nitesh Tiwari
31                                            Kantara       Rishab Shetty
32                                   K.G.F: Chapter 2      Prashanth Neel
33                                             Vikram    Lokesh Kanagaraj
34                                          Shershaah       Vishnuvardhan
35                                           Ratsasan           Ram Kumar
36                     Guardians of the Galaxy Vol. 3          James Gunn
37                 Indiana Jones and the Last Crusade    Steven Spielberg
38                            Spider-Man: No Way Home           Jon Watts
39                                      Jurassic Park    Steven Spielberg
40                                      Batman Begins   Christopher Nolan
41                                               1917          Sam Mendes
42                                  Kill Bill: Vol. 1   Quentin Tarantino
43                                           Die Hard      John McTiernan
44                                     V for Vendetta      James McTeigue
45                 Kimetsu no Yaiba: Mugen Ressha-Hen      Haruo Sotozaki
46                                                Ran      Akira Kurosawa
47                        Baahubali 2: The Conclusion      S.S. Rajamouli
48                                 Gangs of Wasseypur      Anurag Kashyap
49                                            Yôjinbô      Akira Kurosawa

                    Star2                 Star3                 Star4  \
0          Christian Bale          Heath Ledger         Aaron Eckhart
1             Elijah Wood       Viggo Mortensen          Ian McKellen
2             Kemp Powers    Justin K. Thompson         Shameik Moore
3       Leonardo DiCaprio  Joseph Gordon-Levitt           Elliot Page
4             Elijah Wood          Ian McKellen         Orlando Bloom
5             Elijah Wood          Ian McKellen       Viggo Mortensen
6         Lilly Wachowski          Keanu Reeves    Laurence Fishburne
7             Mark Hamill         Harrison Ford         Carrie Fisher
8                  Suriya          Paresh Rawal     Aparna Balamurali
9   Arnold Schwarzenegger        Linda Hamilton        Edward Furlong
10            Mark Hamill         Harrison Ford         Carrie Fisher
11         Toshirô Mifune       Takashi Shimura        Keiko Tsushima
12        Tatsuya Nakadai        Akira Ishihama        Shima Iwashita
13        Dulquer Salmaan         Mrunal Thakur     Rashmika Mandanna
14          Russell Crowe       Joaquin Phoenix        Connie Nielsen
15              Jean Reno           Gary Oldman       Natalie Portman
16          Harrison Ford           Karen Allen          Paul Freeman
17           Peter Ramsey        Rodney Rothman         Shameik Moore
18              Joe Russo     Robert Downey Jr.           Chris Evans
19       Sigourney Weaver         Michael Biehn           Carrie Henn
20         Christian Bale             Tom Hardy         Anne Hathaway
21              Joe Russo     Robert Downey Jr.       Chris Hemsworth
22           Choi Min-sik            Yoo Ji-tae        Kang Hye-jeong
23                 Karthi                Narain             Arjun Das
24                Dhanush         Manju Warrier           Prakash Raj
25             Tom Cruise     Jennifer Connelly          Miles Teller
26              Al Pacino        Robert De Niro            Val Kilmer
27            Mark Hamill         Harrison Ford         Carrie Fisher
28           Yôji Matsuda         Yuriko Ishida           Yûko Tanaka
29             Cary Grant       Eva Marie Saint           James Mason
30             Aamir Khan         Sakshi Tanwar    Fatima Sana Shaikh
31          Rishab Shetty      Kishore Kumar G.         Achyuth Kumar
32                   Yash           Sanjay Dutt        Raveena Tandon
33           Kamal Haasan      Vijay Sethupathi         Fahadh Faasil
34      Sidharth Malhotra          Kiara Advani          Shiv Panditt
35          Vishnu Vishal            Amala Paul            Radha Ravi
36            Chris Pratt        Chukwudi Iwuji        Bradley Cooper
37          Harrison Ford          Sean Connery          Alison Doody
38            Tom Holland               Zendaya  Benedict Cumberbatch
39              Sam Neill            Laura Dern         Jeff Goldblum
40         Christian Bale         Michael Caine          Ken Watanabe
41   Dean-Charles Chapman         George MacKay           Daniel Mays
42            Uma Thurman       David Carradine          Daryl Hannah
43           Bruce Willis          Alan Rickman        Bonnie Bedelia
44           Hugo Weaving       Natalie Portman         Rupert Graves
45          Natsuki Hanae            Akari Kitô   Yoshitsugu Matsuoka
46        Tatsuya Nakadai           Akira Terao         Jinpachi Nezu
47                Prabhas        Rana Daggubati        Anushka Shetty
48         Manoj Bajpayee   Nawazuddin Siddiqui      Tigmanshu Dhulia
49         Toshirô Mifune           Eijirô Tôno       Tatsuya Nakadai

       Votes     Genre1     Genre2     Genre3  Gross Collection  Popularity  \
0   $534.86M     Action      Crime      Drama               NaN         NaN
1   $377.85M     Action  Adventure      Drama               NaN         NaN
2     175911  Animation     Action  Adventure               NaN         NaN
3   $292.58M     Action  Adventure     Sci-Fi               NaN         NaN
4   $315.54M     Action  Adventure      Drama               NaN         NaN
5   $342.55M     Action  Adventure      Drama               NaN         NaN
6   $171.48M     Action     Sci-Fi        NaN               NaN         NaN
7   $290.48M     Action  Adventure    Fantasy               NaN         NaN
8     119922     Action      Drama        NaN               NaN         NaN
9   $204.84M     Action     Sci-Fi        NaN               NaN         NaN
10  $322.74M     Action  Adventure    Fantasy               NaN         NaN
11    $0.27M     Action      Drama        NaN               NaN         NaN
12     61855     Action      Drama    Mystery               NaN         NaN
13     61202     Action      Drama    Mystery               NaN         NaN
14  $187.71M     Action  Adventure      Drama               NaN         NaN
15   $19.50M     Action      Crime      Drama               NaN         NaN
16  $248.16M     Action  Adventure        NaN               NaN         NaN
17  $190.24M  Animation     Action  Adventure               NaN         NaN
18  $858.37M     Action  Adventure      Drama               NaN         NaN
19   $85.16M     Action  Adventure     Sci-Fi               NaN         NaN
20  $448.14M     Action      Drama   Thriller               NaN         NaN
21  $678.82M     Action  Adventure     Sci-Fi               NaN         NaN
22    $0.71M     Action      Drama    Mystery               NaN         NaN
23     36669     Action  Adventure      Crime               NaN         NaN
24     31472     Action      Drama        NaN               NaN         NaN
25  $718.73M     Action      Drama        NaN               NaN         NaN
26   $67.44M     Action      Crime      Drama               NaN         NaN
27  $309.13M     Action  Adventure    Fantasy               NaN         NaN
28    $2.38M  Animation     Action  Adventure               NaN         NaN
29   $13.28M     Action  Adventure    Mystery               NaN         NaN
30   $12.39M     Action  Biography      Drama               NaN         NaN
31     96581     Action  Adventure      Drama               NaN         NaN
32    $6.60M     Action      Crime      Drama               NaN         NaN
33     64601     Action      Crime   Thriller               NaN         NaN
34    125354     Action  Biography      Drama               NaN         NaN
35     47378     Action      Crime      Drama               NaN         NaN
36    198108     Action  Adventure     Comedy               NaN         NaN
37  $197.17M     Action  Adventure        NaN               NaN         NaN
38  $804.75M     Action  Adventure    Fantasy               NaN         NaN
39  $402.45M     Action  Adventure     Sci-Fi               NaN         NaN
40  $206.85M     Action      Crime      Drama               NaN         NaN
41  $159.23M     Action      Drama        War               NaN         NaN
42   $70.10M     Action      Crime   Thriller               NaN         NaN
43   $83.01M     Action   Thriller        NaN               NaN         NaN
44   $70.51M     Action      Drama     Sci-Fi               NaN         NaN
45   $47.70M  Animation     Action  Adventure               NaN         NaN
46    $4.14M     Action      Drama        War               NaN         NaN
47   $20.19M     Action      Drama        NaN               NaN         NaN
48     99772     Action     Comedy      Crime               NaN         NaN
49    126525     Action      Drama   Thriller               NaN         NaN

   Certification
0             UA
1              U
2              U
3             UA
4              U
5             UA
6              A
7             UA
8              U
9              A
10             U
11             U
12           NaN
13             U
14            UA
15             A
16             A
17             U
18            UA
19             U
20            UA
21            UA
22             A
23            UA
24            UA
25            UA
26             A
27             U
28             U
29             U
30             U
31            UA
32            UA
33            UA
34            UA
35            UA
36            UA
37             U
38            UA
39            UA
40            UA
41             R
42             A
43             A
44            UA
45            UA
46     Not Rated
47            UA
48             A
49             U
Index(['Sno', 'Movie Name', 'Director1', 'Director2', 'Duration', 'Year',
       'Ratings', 'Metascore'],
      dtype='object')
Index(['Movie Name', 'Star1', 'Star2', 'Star3', 'Star4', 'Votes', 'Genre1',
       'Genre2', 'Genre3', 'Gross Collection', 'Popularity', 'Certification'],
      dtype='object')

In [121]:
import pandas as pd
from pandasql import sqldf

# Load the CSV data into pandas dataframes
df_movie_details = pd.read_csv('movie_details.csv')
df_movie_info = pd.read_csv('movie_info.csv')

print(df_movie_details.columns)
print(df_movie_info.columns)

# Register the dataframes as tables
pysqldf = lambda q: sqldf(q, globals())




pysqldf("SELECT * FROM df_movie_details").head()  # Example query

# Execute the queries using pandas-sql
query1 = "SELECT * FROM df_movie_details WHERE Director1 IN ('Christopher', 'Matt Reeves')"
result1 = pysqldf(query1)

query2 = "SELECT * FROM df_movie_details WHERE Duration BETWEEN '140' AND '190'"
result2 = pysqldf(query2)

query3 = "SELECT * FROM df_movie_details WHERE Ratings > 7 ORDER BY Ratings ASC"
result3 = pysqldf(query3)

query4 = "SELECT * FROM df_movie_details ORDER BY 'Movie Name' DESC"
result4 = pysqldf(query4)

query5 = "SELECT * FROM df_movie_details WHERE 'Movie Name' LIKE 'P%' AND Ratings > 7"
result5 = pysqldf(query5)

query6 = "SELECT * FROM df_movie_info WHERE Votes = (SELECT MAX(Votes) FROM df_movie_info)"
result6 = pysqldf(query6)


query7 = 'SELECT * FROM df_movie_info ORDER BY CAST(REPLACE("Gross Collection", ",", "") AS INTEGER) DESC'
result7 = pysqldf(query7)


# Print the results
print(result1)
print(result2)
print(result3)
print(result4)
print(result5)
print(result6)
print(result7)

#  executing the remaining queries using pandas-sql in a similar manner TABLE 2

query8 = 'SELECT * FROM df_movie_info WHERE Star1 LIKE "%Arnold%"'
result8 = pysqldf(query8)

query9 = "SELECT * FROM df_movie_info WHERE Genre LIKE '%comedy%' AND Genre LIKE '%action%'"
result9 = pysqldf(query9)
query10 = "SELECT * FROM df_movie_details JOIN movie_info ON movie_details.Movie Name = movie_info.Movie Name"
result10 = pysqldf(query10)
query11 = "SELECT* df_movie_details.Movie Name, movie_details.Director1, movie_details.Ratings, movie_info.GrossCollection FROM movie_details JOIN movie_info ON movie_details.Movie Name = movie_info.MovieName WHERE movie_details.Genre LIKE '%action%'"
result11 = pysqldf(query11)
query12 = "SELECT * FROM movie_details JOIN movie_info ON movie_details.Movie Name = movie_info.'Movie Name'WHERE movie_info.GrossCollection = (SELECT MAX(GrossCollection) FROM movie_info)"
result12 = pysqldf(query12)

query13 = "SELECT * FROM movie_details JOIN movie_info ON movie_details.Movie Name = movie_info.'Movie Name'WHERE movie_info.GrossCollection = (SELECT MAX(GrossCollection) FROM movie_info)"
result13 = pysqldf(query13)

query14 = "SELECT * FROM movie_details JOIN movie_info ON movie_details.Movie Name = movie_info.'Movie Name'WHERE movie_details.Ratings = (SELECT MAX(Ratings) FROM movie_details)"
result14 = pysqldf(query14)

query15 = "SELECT *FROM movie_details JOIN movie_info ON movie_details.Movie Name = movie_info.'Movie Name'WHERE movie_info.GrossCollection = (SELECT MIN(GrossCollection) FROM movie_info)AND movie_details.Ratings = (SELECT MIN(Ratings) FROM movie_details)"
result15 = pysqldf(query15)

# Print the results
print(result8)
print(result9)
print(result10)
print(result11)
print(result12)
print(result13)
print(result14)
print(result15)

Index(['Sno', 'Movie Name', 'Director1', 'Director2', 'Duration', 'Year',
       'Ratings', 'Metascore'],
      dtype='object')
Index(['Movie Name', 'Star1', 'Star2', 'Star3', 'Star4', 'Votes', 'Genre1',
       'Genre2', 'Genre3', 'Gross Collection', 'Popularity', 'Certification'],
      dtype='object')
Empty DataFrame
Columns: [Sno, Movie Name, Director1, Director2, Duration, Year, Ratings, Metascore]
Index: []
    Sno                                         Movie Name  \
0     1                                    The Dark Knight
1     3                Spider-Man: Across the Spider-Verse
2     4                                          Inception
3     5  The Lord of the Rings: The Fellowship of the Ring
4     6              The Lord of the Rings: The Two Towers
5     9                                    Soorarai Pottru
6    14                                         Sita Ramam
7    15                                          Gladiator
8    19                                  Avengers: Endgame
9    21                              The Dark Knight Rises
10   22                             Avengers: Infinity War
11   24                                             Kaithi
12   25                                             Asuran
13   27                                               Heat
14   31                                             Dangal
15   32                                            Kantara
16   33                                   K.G.F: Chapter 2
17   34                                             Vikram
18   36                                           Ratsasan
19   37                     Guardians of the Galaxy Vol. 3
20   39                            Spider-Man: No Way Home
21   41                                      Batman Begins
22   47                                                Ran
23   48                        Baahubali 2: The Conclusion

                 Director1 Director2 Duration  Year  Ratings  Metascore
0                     None      None  152 min  2008      9.0       84.0
1                     None      None  140 min  2023      8.9       86.0
2                     None      None  148 min  2010      8.8       74.0
3                     None      None  178 min  2001      8.8       92.0
4                     None      None  179 min  2002      8.8       87.0
5                     None      None  153 min  2020      8.7        NaN
6                     None      None  163 min  2022      8.6        NaN
7                     None      None  155 min  2000      8.5       67.0
8   Avengers: Infinity War      None  181 min  2019      8.4       78.0
9                     None      None  164 min  2012      8.4       78.0
10                    None      None  149 min  2018      8.4       68.0
11                    None      None  145 min  2019      8.4        NaN
12                    None      None  141 min  2019      8.4        NaN
13                    None      None  170 min  1995      8.3       76.0
14    Mahavir Singh Phogat      None  161 min  2016      8.3        NaN
15                    None      None  148 min  2022      8.3        NaN
16                    None      None  168 min  2022      8.3        NaN
17                    None      None  175 min  2022      8.3        NaN
18                    None      None  170 min  2018      8.3        NaN
19                    None      None  150 min  2023      8.2       64.0
20                    None      None  148 min  2021      8.2       71.0
21                    None      None  140 min  2005      8.2       70.0
22                    None      None  162 min  1985      8.2       97.0
23                    None      None  167 min  2017      8.2        NaN
    Sno                                         Movie Name  \
0    37                     Guardians of the Galaxy Vol. 3
1    38                 Indiana Jones and the Last Crusade
2    39                            Spider-Man: No Way Home
3    40                                      Jurassic Park
4    41                                      Batman Begins
5    42                                               1917
6    43                                  Kill Bill: Vol. 1
7    44                                           Die Hard
8    45                                     V for Vendetta
9    46                 Kimetsu no Yaiba: Mugen Ressha-Hen
10   47                                                Ran
11   48                        Baahubali 2: The Conclusion
12   49                                 Gangs of Wasseypur
13   50                                            Yôjinbô
14   26                                  Top Gun: Maverick
15   27                                               Heat
16   28         Star Wars: Episode VI - Return of the Jedi
17   29                                      Mononoke-hime
18   30                                 North by Northwest
19   31                                             Dangal
20   32                                            Kantara
21   33                                   K.G.F: Chapter 2
22   34                                             Vikram
23   35                                          Shershaah
24   36                                           Ratsasan
25   17                            Raiders of the Lost Ark
26   18                  Spider-Man: Into the Spider-Verse
27   19                                  Avengers: Endgame
28   20                                             Aliens
29   21                              The Dark Knight Rises
30   22                             Avengers: Infinity War
31   23                                           Oldeuboi
32   24                                             Kaithi
33   25                                             Asuran
34   15                                          Gladiator
35   16                                               Léon
36   10                         Terminator 2: Judgment Day
37   11                                          Star Wars
38   12                               Shichinin no samurai
39   13                                            Seppuku
40   14                                         Sita Ramam
41    7                                         The Matrix
42    8     Star Wars: Episode V - The Empire Strikes Back
43    9                                    Soorarai Pottru
44    4                                          Inception
45    5  The Lord of the Rings: The Fellowship of the Ring
46    6              The Lord of the Rings: The Two Towers
47    3                Spider-Man: Across the Spider-Verse
48    1                                    The Dark Knight
49    2      The Lord of the Rings: The Return of the King

                 Director1 Director2 Duration  Year  Ratings  Metascore
0                     None      None  150 min  2023      8.2       64.0
1                     None      None  127 min  1989      8.2       65.0
2                     None      None  148 min  2021      8.2       71.0
3                     None      None  127 min  1993      8.2       68.0
4                     None      None  140 min  2005      8.2       70.0
5                     None      None  119 min  2019      8.2       78.0
6                     None      None  111 min  2003      8.2       69.0
7                     None      None  132 min  1988      8.2       72.0
8                     None      None  132 min  2005      8.2       62.0
9                     None      None  117 min  2020      8.2       72.0
10                    None      None  162 min  1985      8.2       97.0
11                    None      None  167 min  2017      8.2        NaN
12                    None      None  321 min  2012      8.2       89.0
13                    None      None  110 min  1961      8.2       93.0
14                    None      None  130 min  2022      8.3       78.0
15                    None      None  170 min  1995      8.3       76.0
16                    None      None  131 min  1983      8.3       58.0
17                    None      None  134 min  1997      8.3       76.0
18                    None      None  136 min  1959      8.3       98.0
19    Mahavir Singh Phogat      None  161 min  2016      8.3        NaN
20                    None      None  148 min  2022      8.3        NaN
21                    None      None  168 min  2022      8.3        NaN
22                    None      None  175 min  2022      8.3        NaN
23                    None      None  135 min  2021      8.3        NaN
24                    None      None  170 min  2018      8.3        NaN
25                    None      None  115 min  1981      8.4       85.0
26                    None      None  117 min  2018      8.4       87.0
27  Avengers: Infinity War      None  181 min  2019      8.4       78.0
28                    None      None  137 min  1986      8.4       84.0
29                    None      None  164 min  2012      8.4       78.0
30                    None      None  149 min  2018      8.4       68.0
31                    None      None  101 min  2003      8.4       77.0
32                    None      None  145 min  2019      8.4        NaN
33                    None      None  141 min  2019      8.4        NaN
34                    None      None  155 min  2000      8.5       67.0
35                    None      None  110 min  1994      8.5       64.0
36                    None      None  137 min  1991      8.6       75.0
37                    None      None  121 min  1977      8.6       90.0
38                    None      None  207 min  1954      8.6       98.0
39                    None      None  133 min  1962      8.6       85.0
40                    None      None  163 min  2022      8.6        NaN
41                    None      None  136 min  1999      8.7       73.0
42                    None      None  124 min  1980      8.7       82.0
43                    None      None  153 min  2020      8.7        NaN
44                    None      None  148 min  2010      8.8       74.0
45                    None      None  178 min  2001      8.8       92.0
46                    None      None  179 min  2002      8.8       87.0
47                    None      None  140 min  2023      8.9       86.0
48                    None      None  152 min  2008      9.0       84.0
49                    None      None  201 min  2003      9.0       94.0
    Sno                                         Movie Name  \
0     1                                    The Dark Knight
1     2      The Lord of the Rings: The Return of the King
2     3                Spider-Man: Across the Spider-Verse
3     4                                          Inception
4     5  The Lord of the Rings: The Fellowship of the Ring
5     6              The Lord of the Rings: The Two Towers
6     7                                         The Matrix
7     8     Star Wars: Episode V - The Empire Strikes Back
8     9                                    Soorarai Pottru
9    10                         Terminator 2: Judgment Day
10   11                                          Star Wars
11   12                               Shichinin no samurai
12   13                                            Seppuku
13   14                                         Sita Ramam
14   15                                          Gladiator
15   16                                               Léon
16   17                            Raiders of the Lost Ark
17   18                  Spider-Man: Into the Spider-Verse
18   19                                  Avengers: Endgame
19   20                                             Aliens
20   21                              The Dark Knight Rises
21   22                             Avengers: Infinity War
22   23                                           Oldeuboi
23   24                                             Kaithi
24   25                                             Asuran
25   26                                  Top Gun: Maverick
26   27                                               Heat
27   28         Star Wars: Episode VI - Return of the Jedi
28   29                                      Mononoke-hime
29   30                                 North by Northwest
30   31                                             Dangal
31   32                                            Kantara
32   33                                   K.G.F: Chapter 2
33   34                                             Vikram
34   35                                          Shershaah
35   36                                           Ratsasan
36   37                     Guardians of the Galaxy Vol. 3
37   38                 Indiana Jones and the Last Crusade
38   39                            Spider-Man: No Way Home
39   40                                      Jurassic Park
40   41                                      Batman Begins
41   42                                               1917
42   43                                  Kill Bill: Vol. 1
43   44                                           Die Hard
44   45                                     V for Vendetta
45   46                 Kimetsu no Yaiba: Mugen Ressha-Hen
46   47                                                Ran
47   48                        Baahubali 2: The Conclusion
48   49                                 Gangs of Wasseypur
49   50                                            Yôjinbô

                 Director1 Director2 Duration  Year  Ratings  Metascore
0                     None      None  152 min  2008      9.0       84.0
1                     None      None  201 min  2003      9.0       94.0
2                     None      None  140 min  2023      8.9       86.0
3                     None      None  148 min  2010      8.8       74.0
4                     None      None  178 min  2001      8.8       92.0
5                     None      None  179 min  2002      8.8       87.0
6                     None      None  136 min  1999      8.7       73.0
7                     None      None  124 min  1980      8.7       82.0
8                     None      None  153 min  2020      8.7        NaN
9                     None      None  137 min  1991      8.6       75.0
10                    None      None  121 min  1977      8.6       90.0
11                    None      None  207 min  1954      8.6       98.0
12                    None      None  133 min  1962      8.6       85.0
13                    None      None  163 min  2022      8.6        NaN
14                    None      None  155 min  2000      8.5       67.0
15                    None      None  110 min  1994      8.5       64.0
16                    None      None  115 min  1981      8.4       85.0
17                    None      None  117 min  2018      8.4       87.0
18  Avengers: Infinity War      None  181 min  2019      8.4       78.0
19                    None      None  137 min  1986      8.4       84.0
20                    None      None  164 min  2012      8.4       78.0
21                    None      None  149 min  2018      8.4       68.0
22                    None      None  101 min  2003      8.4       77.0
23                    None      None  145 min  2019      8.4        NaN
24                    None      None  141 min  2019      8.4        NaN
25                    None      None  130 min  2022      8.3       78.0
26                    None      None  170 min  1995      8.3       76.0
27                    None      None  131 min  1983      8.3       58.0
28                    None      None  134 min  1997      8.3       76.0
29                    None      None  136 min  1959      8.3       98.0
30    Mahavir Singh Phogat      None  161 min  2016      8.3        NaN
31                    None      None  148 min  2022      8.3        NaN
32                    None      None  168 min  2022      8.3        NaN
33                    None      None  175 min  2022      8.3        NaN
34                    None      None  135 min  2021      8.3        NaN
35                    None      None  170 min  2018      8.3        NaN
36                    None      None  150 min  2023      8.2       64.0
37                    None      None  127 min  1989      8.2       65.0
38                    None      None  148 min  2021      8.2       71.0
39                    None      None  127 min  1993      8.2       68.0
40                    None      None  140 min  2005      8.2       70.0
41                    None      None  119 min  2019      8.2       78.0
42                    None      None  111 min  2003      8.2       69.0
43                    None      None  132 min  1988      8.2       72.0
44                    None      None  132 min  2005      8.2       62.0
45                    None      None  117 min  2020      8.2       72.0
46                    None      None  162 min  1985      8.2       97.0
47                    None      None  167 min  2017      8.2        NaN
48                    None      None  321 min  2012      8.2       89.0
49                    None      None  110 min  1961      8.2       93.0
Empty DataFrame
Columns: [Sno, Movie Name, Director1, Director2, Duration, Year, Ratings, Metascore]
Index: []
           Movie Name           Star1           Star2                Star3  \
0  Gangs of Wasseypur  Anurag Kashyap  Manoj Bajpayee  Nawazuddin Siddiqui

              Star4  Votes  Genre1  Genre2 Genre3 Gross Collection Popularity  \
0  Tigmanshu Dhulia  99772  Action  Comedy  Crime             None       None

  Certification
0             A
                                           Movie Name               Star1  \
0                                     The Dark Knight   Christopher Nolan
1       The Lord of the Rings: The Return of the King       Peter Jackson
2                 Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
3                                           Inception   Christopher Nolan
4   The Lord of the Rings: The Fellowship of the Ring       Peter Jackson
5               The Lord of the Rings: The Two Towers       Peter Jackson
6                                          The Matrix      Lana Wachowski
7      Star Wars: Episode V - The Empire Strikes Back      Irvin Kershner
8                                     Soorarai Pottru       Sudha Kongara
9                          Terminator 2: Judgment Day       James Cameron
10                                          Star Wars        George Lucas
11                               Shichinin no samurai      Akira Kurosawa
12                                            Seppuku    Masaki Kobayashi
13                                         Sita Ramam    Hanu Raghavapudi
14                                          Gladiator        Ridley Scott
15                                               Léon          Luc Besson
16                            Raiders of the Lost Ark    Steven Spielberg
17                  Spider-Man: Into the Spider-Verse     Bob Persichetti
18                                  Avengers: Endgame       Anthony Russo
19                                             Aliens       James Cameron
20                              The Dark Knight Rises   Christopher Nolan
21                             Avengers: Infinity War       Anthony Russo
22                                           Oldeuboi      Park Chan-wook
23                                             Kaithi    Lokesh Kanagaraj
24                                             Asuran         Vetrimaaran
25                                  Top Gun: Maverick     Joseph Kosinski
26                                               Heat        Michael Mann
27         Star Wars: Episode VI - Return of the Jedi    Richard Marquand
28                                      Mononoke-hime      Hayao Miyazaki
29                                 North by Northwest    Alfred Hitchcock
30                                             Dangal       Nitesh Tiwari
31                                            Kantara       Rishab Shetty

PandaSQLException: (sqlite3.OperationalError) no such column: Stars
[SQL: SELECT * FROM df_movie_info WHERE Stars LIKE "%Arnold%"]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

 Phase-3 DataFrame by joining the two CSV files using pandas and perform exploratory data analysis (EDA).